<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/pay-cancel.css">
    <title>결제 취소</title>
</head>
<body>
<h1>결제 취소</h1>
<p>결제가 취소되었습니다. 다시 시도해 주세요.</p>
<a href="/api/paymethod-manage">결제 수단 관리 페이지로 돌아가기</a>
</body>
</html>
