<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/admin-upload.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <!-- 파비콘 ( 아이콘 ) -->
    <link rel="icon" href="/static/images/OH!.ico">
    <title>관리자 페이지 - 영상 업로드</title>
</head>

<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/api/main-page">
                <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- main start -->
<main>
    <div class="main-div">
        <!-- 사이드 바 메뉴 -->
        {{> /_components/admin-sidebar}}

        <div class="main-section">
            <div class="main-div-2">
                <!-- membership inforamtion -->
                <div class="main-right-header mb-20">영화 등록하기</div>

                <!-- 영상 업로드 -->
                <div class="mb-20">영상 업로드</div>
                <div class="main-right-div1 mb-20">
                    <div class="membership-deco ml-20"></div>

                    <div class="membership-box m-20 pointer">


                        <div class="mb-20 fast-link-div pointer">
                            <div>
                                <label for="file-upload" class="custom-file-upload">
                                    파일 선택
                                </label>
                                <input id="file-upload" type="file" name="file" onchange="updateFileName()"/>
                                <span class="file-name1 file-name" id="file-name1">영화 선택하기</span>

                            </div>
                            <div>
                                <button id="upload-btn" type="button" class="custom-upload-button uploadMovie-btn">영상
                                    업로드 하기
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- 이미지 업로드 -->

                <form method="post" enctype="multipart/form-data" action="/admin/admin-upload">
                    <!-- 숨겨진 입력 필드 추가 -->
                    <input type="hidden" id="file-name-input" name="fileName"/>
                    <div class="mb-20">이미지 업로드</div>
                    <div class="main-right-div1 mb-20">
                        <div class="membership-deco ml-20"></div>

                        <div class="membership-box m-20 pointer">


                            <div class="mb-20 fast-link-div pointer">
                                <div>
                                    <label for="image-upload1" class="custom-file-upload">
                                        파일 선택
                                    </label>
                                    <input id="image-upload1" type="file" name="thumbnail"/>
                                    <span class="file-name2 file-name" id="file-name2">썸네일 선택하기</span>
                                </div>
                                <!--썸네일 미리보기-->
                                <div class="image-preview">
                                    <img id="preview-img1" src="" alt="썸네일 미리보기 이미지" style="display: none;"/>
                                </div>

                    </div>
                    <!-- TODO : 이부분 지워하는데 막으면 영상업로드가 안됨-->
                    <div class="mb-20 fast-link-div pointer" style="display: none;">
                        <div>
                            <label for="image-upload2" class="custom-file-upload">
                                파일 선택
                            </label>
                            <input id="image-upload2" type="file"/>
                            <span class="file-name3 file-name" id="file-name3">대표 텍스트 사진 선택하기</span>
                        </div>
                        <!--대표 텍스트 사진 미리보기-->
                        <div class="image-preview">
                            <img id="preview-img2" src="" alt="미리보기 이미지" style="display: none;"/>
                        </div>
                    </div>

                    <hr class="mb-20">
                    <div class="mb-20 fast-link-div pointer">
                        <div>
                            <label for="image-upload3" class="custom-file-upload">
                                파일 선택
                            </label>
                            <input id="image-upload3" type="file" name="mainPhoto"/>
                            <span class="file-name4 file-name" id="file-name4">대표 사진 선택하기 (가로사이즈)</span>
                        </div>
                        <!--대표 사진 미리보기-->
                        <div class="image-preview">
                            <img id="preview-img3" src="" alt="미리보기 이미지" style="display: none;"/>
                        </div>
                    </div>
                    <hr class="mb-20">
                    <div class="mb-20 fast-link-div pointer">
                        <div>
                            <label for="image-upload4" class="custom-file-upload">
                                파일 선택
                            </label>
                            <input id="image-upload4" type="file" name="posterPhoto"/>
                            <span class="file-name5 file-name" id="file-name5">포스터 사진 선택하기</span>
                        </div>
                        <!--포스터 사진 미리보기-->
                        <div class="image-preview">
                            <img id="preview-img4" src="" alt="미리보기 이미지" style="display: none;"/>
                        </div>
                    </div>

                            <hr class="mb-20">
                            <div class="mb-20 fast-link-div pointer">
                                <div>
                                    <label for="image-upload5" class="custom-file-upload">
                                        파일 선택
                                    </label>
                                    <input id="image-upload5" type="file" name="textPhoto"/>
                                    <span class="file-name6 file-name" id="file-name6">대표 텍스트 사진 선택하기</span>
                                </div>
                                <!--대표 텍스트 사진 미리보기-->
                                <div class="image-preview">
                                    <img id="preview-img5" src="" alt="미리보기 이미지" style="display: none;"/>
                                </div>
                            </div>


                        </div>

                    </div>

            <!-- fast link -->
            <div class="mb-20">영화 상세 정보</div>
            <div class="main-right-div2 mb-20">
                <div class="fast-link ml-20 mr-20">
                    <table class="movie-info-table">
                        <tr>
                            <td>영 화 제 목</td>
                            <td><input type="text" name="title" class="movie-info" value="스파이더맨 : 홈커밍"></td>
                        </tr>
                        <tr>
                            <td>제 작 년 도</td>
                            <td>
                                <select id="productYear" name="productYear" class="movie-info">
                                    <option value="">연도 선택</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>상 영 시 간</td>
                            <td><input type="number" name="playTime" class="movie-info" value="133"></td>
                        </tr>
                        <tr>
                            <td>관 람 등 급</td>
                            <td>
                                <select name="rate" class="movie-info">
                                    <option value="">관람 등급 선택</option>
                                    {{#rate}}
                                        <option value="{{this}}">{{this.value}}</option>
                                    {{/rate}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>장 르</td>
                            <td>
                                <select name="genre" class="movie-info">
                                    <option value="">장르 선택</option>
                                    {{#genre}}
                                    <option value="{{this}}">{{this.value}}</option>
                                    {{/genre}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>감 독</td>
                            <td><input type="text" name="director" class="movie-info" value="존 왓츠"></td>
                        </tr>
                        <tr>
                            <td>주 연 배 우</td>
                            <td><input type="text" name="actors" class="movie-info" value="톰 홀랜드, 마이클 키튼, 로버트 다우니 주니어, 머리사 토메이, 존 패브로, 케네스 챈트로, 젠데이아, 도널드 글로버, 제이컵 배틀론, 로라 해리어, 토니 레볼로리, 보킴 우드바인, 타인 데일리, 아브라함 아타, 한니발 뷔레스, 케네스 최, 셀레니스 레이바, 앵거리 라이스, 마틴 스타, 가벨 보베이, 마이클 체르너스, 마이클 민도, 로건 마셜그린"></td>
                        </tr>
                        <tr>
                            <td>각 본</td>
                            <td><input type="text" name="writers" class="movie-info" value="조너선 골드스타인, 존 프랜시스 데일리, 존 왓츠, 크리스토퍼 포드, 크리스 맥케나, 에릭 소머스"></td>
                        </tr>
                        <tr>
                            <td>연 출</td>
                            <td><input type="text" name="subDirector" class="movie-info" value=""></td>
                        </tr>
                        <tr>
                            <td>특 징</td>
                            <td><input type="text" name="characteristic" class="movie-info" value="상상의 나라, 긴장감 넘치는, 흥미진진"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; padding-bottom: 5px;">소 개</td>
                            <td><textarea name="introduction" id="info" class="movie-info"
                                          style="height: 100px;">톰 홀랜드와 로버트 다우니 주니어가 출연하는 2017년 슈퍼 히어로 영화. 마블 코믹스의 대표적인 캐릭터를 바탕으로 만들었다.</textarea></td>
                        </tr>

                            </table>


                        </div>
                    </div>


                    <label for="upload-info-btn" class="membership-cancel custom-upload-button">영화 정보 등록</label>
                    <button id="upload-info-btn" type="submit" class="custom-upload-button">영화 정보 등록</button>

                </form>
            </div>
        </div>
    </div>
</main>
<!-- main end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- hr -->
<div class="mt-70">
    <hr/>
</div>
<!-- hr -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- footer start -->
<footer>
    <div>
        <p>오플릭스서비시스코리아 유한회사 통신판매업신고번호:
            제2023-부산진구-0703호 전화번호: 000-111-2222 (수신자 부담)</p>
        <p>대표: 스티븐 성훈 킴</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>주소: 대한민국 부산광역시 부산진구 중앙대로 749 범향빌딩 3층
            우편번호 03161</p>
        <p>사업자등록번호: 000-111-2222</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->

<!-- 자바 스크립트 -->
<script src="/static/js/admin-upload.js"></script>

</body>

</html>