<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/members-manage.css"/> <!-- 외부 CSS 파일을 연결 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 파비콘 ( 아이콘 ) -->
    <link rel="icon" href="/static/images/OH!.ico">
    <title>관리자 페이지 - 회원 관리</title>
</head>
<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/api/main-page">
                <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo"/>
            </a>
        </div>
        <div class="logout">
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- main left-->
<main>
    <div class="main-div">
        <!-- 사이드 바 메뉴 -->
        {{> /_components/admin-sidebar}}

        <div class="main-section">
            <div class="main-right-margin">
                <div class="title">회원 관리</div>
                <div class="member-container">
                    <div class="member">
                        <div class="member-count">
                            <div class="gray">총 회원 수 :</div>
                            <div class="ml-10">{{members.size}}</div>
                        </div>
                        <div class="member-count">
                            <div class="gray">구독 회원 수 :</div>
                            <div class="ml-10">{{subscriberCount}}</div>
                        </div>

                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>이름</th>
                        <th>계정 생성일</th>
                        <th>구독 상태</th>
                        <th>구독 개월 수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#members}}
                        <tr>
                            <td>{{index}}</td>
                            <td>{{username}}</td>
                            <td>{{formattedCreatedAt}}</td>
                            <td>{{#isSubscribe}}<i class="fa-solid fa-fire red"></i>{{/isSubscribe}}{{^isSubscribe}}
                                <i class="fa-solid fa-fire gray"></i>{{/isSubscribe}}</td>
                            <td>{{monthsSubscribed}}</td>
                        </tr>
                    {{/members}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<!-- footer start -->
<footer>
    <div>
        <p>오플릭스서비시스코리아 유한회사 통신판매업신고번호:
            제2023-부산진구-0703호 전화번호: 000-111-2222 (수신자 부담)</p>
        <p>대표: 스티븐 성훈 킴</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>주소: 대한민국 부산광역시 부산진구 중앙대로 749 범향빌딩 3층
            우편번호 03161</p>
        <p>사업자등록번호: 000-111-2222</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->
</body>
</html>
